*{
    margin:0;
    padding:0;
}
 
body{
    height:100%;
    width:100%;
    padding: 0;
    margin: 0;
    overflow-x:hidden;
}



html{
    background-image: url(./weatherpic.jpeg);
    background-repeat: no-repeat;
     background-size: cover;
     
}

#header{
    display:flex;
    justify-content: center;
    align-items:center; 
    padding-top:8%;
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style:italic;
}

#btn{
    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
    justify-content: center;
    align-items: center;
    border-color:2px solid black;
    border-radius: 5px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style:italic;
    font-size: larger;
    background-color:antiquewhite;
    position: relative;
    left:580px;
}

#btn:hover{
    background-color:rgb(250, 203, 146);
}


#textbox{
    display:flex;
    justify-content: center;
    align-items: center;
    width:calc(100% - 74%);
    margin: 4px 2px;
    padding: 15px 32px;
    border-color: grey;
    border-style: solid;
    border-width: 3px;
    border-radius:15px;
    text-align: center;
    position: relative;
    left:34%;
}

#textbox::placeholder{
    font-weight: bold;
    text-align: center;
    font-style: italic;
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style:italic;
}
#rajdhani-light {
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  #rajdhani-regular {
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  #rajdhani-medium {
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  #rajdhani-semibold {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  #rajdhani-bold {
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
#databox{
    font-family: "Rajdhani", sans-serif;
    position: relative;
    left:515px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    width:250px;
    background-color: antiquewhite;
    /* border:1px solid rgb(0, 0, 0); */
    /* box-shadow: 1px 1px 1px 1px black; */
    border-radius:19px;
    /* padding:2px;
    padding-top:15px; */
    display:flex;
    align-content:center;
    min-height:50vh;
    /* max-width:1000px; */
    /* justify-content: space-between; */
    /* background-image: linear-gradient(#08C8F6,#4D5DFB); */
    background-color:rgb(255, 255, 255, 0.1);
    /* backdrop-filter:blur(1000px); */
    /* background-color: rgb(0, 4, 255); */
    visibility: hidden;
}

h1, label, p, div{
    margin: 2px 0;
}

.hourly-item{
    /* border: 2px cyan solid; */
    border-radius: 3px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding:5px;
    left:10px;
}

#numberwithcel{
    font-weight: bold;
    font-family: "Rajdhani", sans-serif;
    font-size: 30px;
    width:280%;

}

#location
{
    font-weight: bold;
    font-family: "Rajdhani", sans-serif;
    font-size: 30px;
   
}

#weatherInfo{
    font-weight: bold;
    font-family: "Rajdhani", sans-serif;
    font-size: 30px;
    float:left;
    
    
}

#pictorialrep{
    font-weight: bold;
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
    margin-bottom:0;
    display:none;  
}


#databox #dayforecast #list{
    text-decoration: none;
    white-space:nowrap; 
    list-style: none;
}

#dayforecast{
    font-weight: bold;
    font-size: 30px;
    width:320%;
    flex-direction:row;
    position: relative;
    left:-10px;
    margin:0px;
    padding:0px;
    width:fit-content;
    /* background-color: aqua; */
    
}

#hr{
    width:100%;
    color: rgb(0, 0, 0);
}

#list img{
    width:30px;
    height:30px;
    margin:5px; 
}


@media all and (max-width:400px){ 
    #databox{
        position: relative;
        left:-60px;
        height:50vh;
    }
    #list{
        position: relative;
        left:-40px;
    }
    #numberwithcel{
        position: relative;
        left:150px;
    }
    #location{
        position: relative;
        overflow-y: none;
        left:25px;
    }
    #day{
        position: relative;
        left:50px;
    }
}
@media all and (max-width:850px){ 
    #databox{
        position: relative;
        left:178px;
        height:50vh;
    }
    #btn{
        position: relative;
        left:375px;
    }

    
}


footer{
    background-color: rgb(12, 53, 134);
    color: white;
    font-family: "Rajdhani", sans-serif;
    display:flex;
    justify-content: center;
    align-items: centre;
}
